<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multiart: true } do |f| %>
    <div class="form-group">
      <%= f.input :image, label: 'post', input_html: { class: 'file form-control' } %>
    </div>
    <div class="form-group text-center">
      <%= f.input :caption, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group text-center">
      <%= f.button :submit, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
