<div class="single-post-wrapper row">
  <%= render 'post', post: @post %>
  <div class="text-center edit-links">
    <%= link_to "Back", posts_path %>
    <% if user_signed_in? && @post.user.id == current_user.id %>
      |
      <%= link_to "Edit Post", edit_post_path(@post) %>
      |
      <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <% end %>
  </div>
  </div>
</div>
